*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #696969;
  --secondary-color: #A3A3A3;
}

body {
  overflow: hidden;
  color: var(--primary-color);
  background-color: rgba(227, 227, 227, 0.95);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
